.header {
    background-image: url('https://th.bing.com/th/id/OIP.6f5ZEeT1bM05vEOyFk2a7AHaHa?w=158&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    color: pink;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}









































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































   
